<div class="row" ng-show="addPictureButton">
	<div class="col-lg-12" flow-init flow-name="flowHolder.$flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()">
		<h3>Add picture</h3>
		<hr class="soften" />
		<div flow-transfers>				
		    <div ng-repeat="file in transfers">
		    	<div ng-show="file.isUploading()">
					<div class="progress progress-striped">
						<div class="progress-bar" ng-style="{'width': (100*( file.sizeUploaded() / file.size )) + '%' }"><span>Upload in progress ... {{ file.sizeUploaded() | number:0 }} bytes / {{ file.size | number}} bytes ({{file.progress()*100| number:0}}%)</span></div>
					</div>
				</div>
				<div ng-hide="file.isUploading()">
					<alert type="success">Upload completed! <a href="javascript:void(null);" ng-show="$flow.files.length" ng-click="$flow.cancel()">Remove</a></alert>
					<form class="form-horizontal">
						<input class="form-control" type="text" ng-model="flowHolder.picCaption" placeholder="Put any caption here ..." focus="true" />
					</form>
				</div>
		   </div>
		</div>
		<div>
			<div ng-hide="$flow.files.length" class="dropzone" flow-drop flow-drag-enter="class='dropzone-active'" flow-drag-leave="class='dropzone'">
				Drag'n drop an image (jpeg, png, gif) here to upload it or press the 'select image' button.																				
				<a href="javascript:void(null);" class="btn btn-primary btn-sm" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
			</div>

			<div class="thumbnail" ng-show="$flow.files.length">
				<img flow-img="$flow.files[0]" />
			</div>
		</div>
	</div>
</div>