<form class="form-horizontal" novalidate name="editLocation">
    <fieldset>
        <legend>Edit {{data.officialName}} in {{data.city}}</legend>
        <div class="row form-group">
            <label for="data.fkOffice" class="col-md-2 control-label">Office</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="data.fkOffice">
                    <option ng-repeat="office in offices" value="{{office.id}}" ng-selected="office.id==data.fkOffice">{{office.name}}</option>
                </select>
            </div>
        </div>
        <div class="row form-group" ng-class="{'has-error': editLocation.officialName.$invalid}">
            <label for="data.officialName" class="col-md-2 control-label required">Official name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="officialName" ng-model="data.officialName" placeholder="Official name" focus="true"  required>
            </div>
        </div>
        <div class="row form-group">
            <label for="data.streetName" class="col-md-2 control-label">{{ companyName }} name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="data.streetName" placeholder="{{ companyName }} name" >
                <span ng-hide="editableButton" class="help-block">Separate multiple names by comma.</span>
            </div>
        </div>
        <div class="row form-group" ng-class="{'has-error': editLocation.address.$invalid || editLocation.city.$invalid}">
            <label for="data.address" class="col-md-2 control-label required">Address</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="address" ng-model="data.address" placeholder="Street" ng-disabled="data.geoMovedManually" required>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="data.zip" placeholder="ZIP" ng-disabled="data.geoMovedManually" >
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="city" ng-model="data.city" placeholder="City" ng-disabled="data.geoMovedManually" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10 col-md-offset-2"><input type="checkbox" name="geoMovedManually" ng-model="data.geoMovedManually" > The pin on the map was moved manually.</div>
        </div>

        <div class="row form-group">
            <label for="data.url" class="col-md-2 control-label">Webpage</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="data.url" placeholder="http://www.the-restaurant.de" >
            </div>
        </div>

        <div class="row form-group">
            <label for="data.comment" class="col-md-2 control-label">Comment</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" ng-model="data.comment" ></textarea>
                <span ng-hide="editableButton" class="help-block">Describe the location without judging it. Your personal opinions should go into a review.</span>
            </div>
        </div>

        <div class="row form-group">
            <label for="data.tags" class="col-md-2 control-label">Tags</label>
            <div class="col-md-10">
                <tag-input autocomplete='allTags' taglist='data.tags'></tag-input>
                <span class="help-block">Use the up/down cursor keys to scroll all available entries.</span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-10 col-md-offset-2">
                Created: {{data.createdOn | date :'short'}} by {{data.creationUser}}, last update: {{data.lastUpdate | date :'short'}}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>

                <button type="button" class="btn btn-primary" ng-click="editLocationSave()" ng-disabled="editLocation.$invalid">Save</button>
            </div>
        </div>

    </fieldset>
</form>
