<div class="list-group">
    <div ng-repeat="review in childScopeHolder.reviews" class="list-group-item">
        <h4 class="list-group-item-heading">{{review.creationUser}} wrote on {{review.lastUpdate | date:'short'}}</h4>
        <p class="list-group-item-text" ng-bind-html="review.comment | linky"/>
        <p ng-show="review.favoriteMeal" class="list-group-item-text">My favorite: {{review.favoriteMeal}}</p>
        <p>Turn around time:
            <span tooltip-placement="bottom" uib-tooltip="Pure travel time" class="dottedUnderline">{{ review.travelTime | numberToNA }}</span> +
            <span tooltip-placement="bottom" uib-tooltip="Pure on site time" class="dottedUnderline">{{ review.onSiteTime | numberToNA }}</span> =
            <span tooltip-placement="bottom" uib-tooltip="Turn around time" class="dottedUnderline">{{ review.travelTime+review.onSiteTime | numberToNA }}</span></p>
        <p class="list-group-item-text">My rating: {{review.rating}} stars</p>
    </div>
</div>