<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Lunchy!</h1>
        <p>Lunchy not only makes lunch easier it also makes your life better! How does it do that? It collects and provides essential information about lunch places.</p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h3>What is lunchy?</h3>
            <p>Lunchy is platform to collect and share lunch information with your colleagues and co-workers.</p>
        </div>
        <div class="col-md-6">
            <h3>For whom does it make sense?</h3>
            <p>For everybody working in a company where people go outside and grab something to eat during lunch break.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>How do I join?</h3>
            <p>If there is already a space for your company then use the specific URL and create yourself an account.</p>
            <p>When you are the first person from your company then
                <a href="#/create-community">feel free to create a company private space here</a>
                and request a new space. I am always happy to on-board more companies.</p>
            <p>You are not sure if there is already a space for your company?
                <a href="mailto:&#111;&#108;&#105;&#064;&#122;&#105;&#109;&#112;&#097;&#115;&#115;&#101;&#114;&#046;&#100;&#101;">Write me an email</a> and we'll figure it out together.</p>
        </div>
        <div class="col-md-6">
            <h3>Isn't this system not similar to yelp, tripadvisor or foursquare?</h3>
            <p>Basically yes, but it focuses on information from you and your colleagues to share it with only you and your colleagues. It is not supposed to share with strangers all
                over the internet. The idea is to share lunch information with people you know and trust.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Can I test / just see it?</h3>
            <p>There is a demo space: <a href="//demo.lunchylunch.com">http://demo.lunchylunch.com</a>. You can either register an account there and just <strong>guest@lunchylunch.com/guest</strong>.</p>
        </div>
        <div class="col-md-6">
            <h3>Is it free?</h3>
            <p>Yes. And it is open-source.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <h3>What about data privacy?</h3>
          <p>
            All data collected and stored on this page will never be shared with any 3rd party. If you want to delete
            your account or any data you've added to this page, please write an email to &#111;&#103;&#108;&#105;&#109;&#109;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
          </p>
        </div>
    </div>
    <hr/>

    <footer>
        <p>Created by oglimmer.de 2014-2021 # <span ng-include="'partials/jsp-includes/version.jsp'"></span> # <a href="https://oglimmer.de/lunchylunch/">Project page</a></p>
    </footer>
</div>
<!-- /container -->