
/* added for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

@media only screen and (max-width: 1440px), only screen and (max-device-width: 1440px) {
	.githubBadge {
		display:none;
	}
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	.removeOnExtraSmall {
		display:none;
	}
}

.jumbotron {
	padding:10px !important;
}

.required:after {
    content: "*";
    padding-left:1%;
    color:red;
}

#locationMap .angular-google-map-container { 
	height: 450px; 
}

.tag-input-ctn {
  border: 1px solid #ccc;
  padding: 6px 3px;
  display: inline-block;
  width: 500px;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.tag-input-ctn input {
  display: inline-block;
  float: left;
  height: 20px;
  padding: 0px;
  font-size: 13px;
  line-height: 20px;
  color: black;
  border: 0px;
  margin: 2px;
  border: 1px dashed #aeaeae;
}
.tag-input-ctn input:focus {
  outline: 0;
  box-shadow: 0px;
}
.tag-input-ctn .input-tag {
  padding: 2px 4px;
  line-height: 14px;
  font-size: 13px;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
  border: 1px solid #a9b6d2;
}
.tag-input-ctn .input-tag .delete-tag {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  padding: 0px 2px;
}
.tag-input-ctn .input-tag .delete-tag:hover {
  background-color: #96b4d2;
}

.drop {
	border:2px solid #aeaeae;
	padding:20px;
	margin:10px;
	border-radius: 3px;
}
.drop.drag-over {
    background: #2b73a2;
    color: #fff;
}

.dottedUnderline {
	border-bottom: 1px blue dotted;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.v-center {
    display:table !important;
    height: 2.85em;
}

.v-content {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pre {
    white-space: pre-wrap;
}

@font-face {
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 400;
    src: local('Reenie Beanie'), local('ReenieBeanie'), url(../fonts/ReenieBeanie.woff) format('woff');
}

a.plain {
    text-decoration: none;
}
figure, figcaption {
    display: block;
}
#polaroid{
    width:100%;
    overflow:hidden;
    padding:20px 10px;
}
#polaroid figure{
    float:left;
    position:relative;
    margin:10px 20px;
    padding: 6px 8px 10px 8px;
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    background: #eee6d8;
    background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    -webkit-transform:rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-backface-visibility:hidden;
}
@media ( max-width :767px) {
    #polaroid figure{
        width:215px;
    }
    #polaroid img {
        width:200px;
    }
    #polaroid figcaption{
        font-size:1.1em;
    }
}
@media ( min-width :767px) {
    #polaroid figure{
        width:480px
    }
    #polaroid figcaption{
        letter-spacing:0.09em;
        font-size:1.7em;
    }
}
#polaroid figure:nth-child(even) {
    -webkit-transform:rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-backface-visibility:hidden;
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}
#polaroid figure:before {
    content: '';
    display: block;
    position: absolute;
    left:5px;
    top: -15px;
    width: 75px;
    height: 25px;
    background-color: rgba(222,220,198,0.7);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}
#polaroid figure:nth-child(even):before {
    left:150px;
    top: -15px;
    width: 55px;
    height: 25px;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}
#polaroid figcaption{
    font-family: 'Reenie Beanie' cursive;
    text-align:center;
    color:#454f40;
}
#polaroid figure{
    -pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
    behavior: url(assets/pie/PIE.htc);
    position:relative;
    padding-top:10px;
    padding-right:10px;
}