
#registerForm label {
	width:200px;
	display: inline-block;
	text-align:right;
}

#registerForm span {
	padding:20px;
}

/* added for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {
	.githubBadge {
		display:none;
	}
}

