<br />
<br /><br /><br />
<div class="container">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" name="addLocation" novalidate>
				<fieldset>
					<legend>Adding a new location</legend>
					<div class="form-group">
						<label for="data.fkoffice" class="col-lg-2 control-label">Office</label>
						<div class="col-lg-10">
							<select class="form-control" ng-model="data.fkoffice">
								<option ng-repeat="office in offices" value="{{office.id}}" ng-selected="office.id==data.fkoffice">{{office.name}}</option>
							</select>							
							<span class="help-block">For lunch only reachable from this office.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="data.officialname" class="col-lg-2 control-label required">Official name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" ng-model="data.officialname" placeholder="Official name" focus="true" required>
						</div>
					</div>
					<div class="form-group">
						<label for="data.streetname" class="col-lg-2 control-label">ADTECH name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" ng-model="data.streetname" placeholder="ADTECH name">
							<span class="help-block">Separate multiple names by comma.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="data.address" class="col-lg-2 control-label required">Address</label>
						<div class="col-lg-5">
							<input type="text" class="form-control" ng-model="data.address" placeholder="Street" required>
						</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" ng-model="data.zip" placeholder="ZIP">
						</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" ng-model="data.city" placeholder="City" required>
						</div>
					</div>
					
					<div class="form-group">
						<label for="data.url" class="col-lg-2 control-label">Webpage</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" ng-model="data.url" placeholder="http://www.the-restaurant.de"> 
						</div>
					</div>
					
					<div class="form-group">
						<label for="data.comment" class="col-lg-2 control-label">Comment</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="3" ng-model="data.comment"></textarea>
							<span class="help-block">Put any comments here.</span>
						</div>
					</div>

					<div class="form-group">
						<label for="data.tags" class="col-lg-2 control-label">Tags</label>
						<div class="col-lg-10">
							<tag-input autocomplete='allTags' taglist='data.tags'></tag-input> 
							<span class="help-block">Use the up/down cursor keys to scroll all available entries.</span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary" ng-click="submitAdd()" ng-disabled="addLocation.$invalid">Save</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>