
<div class="container">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
    <form class="form-horizontal" name="addLocation" novalidate ng-submit="submitAdd()">
        <fieldset>
            <legend>Adding a new location</legend>
            <div class="row form-group">
                <label for="fkOffice" class="col-md-2 control-label">Office</label>
                <div class="col-md-10">
                    <select class="form-control" id="fkOffice" ng-model="data.fkOffice">
                        <option ng-repeat="office in offices" value="{{office.id}}" ng-selected="office.id==data.fkOffice">{{office.name}}</option>
                    </select>
                    <span class="help-block">For lunch only reachable from this office.</span>
                </div>
            </div>
            <div class="row form-group">
                <label for="officialName" class="col-md-2 control-label required">Official name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="officialName" ng-model="data.officialName" placeholder="Official name" focus="true" required>
                </div>
            </div>
            <div class="row form-group">
                <label for="streetName" class="col-md-2 control-label">{{ companyName }} name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="streetName" ng-model="data.streetName" placeholder="{{ companyName }} name">
                    <span class="help-block">Separate multiple names by comma.</span>
                </div>
            </div>
            <div class="row form-group">
                <label for="address" class="col-md-2 control-label required">Address</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="address" ng-model="data.address" placeholder="Street" required>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" ng-model="data.zip" placeholder="ZIP">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" ng-model="data.city" placeholder="City" required>
                </div>
            </div>

            <div class="row form-group">
                <label for="url" class="col-md-2 control-label">Webpage</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="url" ng-model="data.url" placeholder="http://www.the-restaurant.de">
                </div>
            </div>

            <div class="row form-group">
                <label for="comment" class="col-md-2 control-label">Comment</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="comment" rows="3" ng-model="data.comment"></textarea>
                    <span class="help-block">Put any comments here.</span>
                </div>
            </div>

            <div class="row form-group">
                <label for="tags" class="col-md-2 control-label">Tags</label>
                <div class="col-md-10">
                    <tag-input autocomplete='allTags' id="tags" taglist='data.tags'></tag-input>
                    <span class="help-block">Use the up/down cursor keys to scroll all available entries.</span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary" ng-disabled="addLocation.$invalid">Save</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>