<form class="form-horizontal">
    <fieldset>
        <div class="row">
            <label for="selectedOffice" class="col-sm-1 control-label hidden-xs">Office</label>
            <div class="col-sm-11">
                <select class="form-control" id="selectedOffice" ng-model="selectedOffice">
                    <option ng-repeat="office in offices" value="{{office.id}}" ng-selected="office.id==selectedOffice">{{office.name}}</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<div ng-if="map.loaded">
	<ui-gmap-google-map id="browseMap" center="map.center" zoom="map.zoom" draggable="true" events='map.events' ng-init="mapCreated()"> 
		<ui-gmap-marker ng-repeat="marker in markers" idKey='marker.id' coords='marker.coords' events='marker.events' options="marker.markerOptions" />
		<ui-gmap-marker ng-repeat="marker in officeMarker" idKey='marker.id' coords='marker.coords' options="marker.markerOptions"/>					
	</ui-gmap-google-map>
</div>

