<div class="container">
  <div>
    With registering an account here you accept 2 cookies stored on your computer, one has a lifetime of
    1 year. If you ever want to delete your account or any data you've added to this page, please write an email to &#111;&#103;&#108;&#105;&#109;&#109;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;.
    Data you will enter here will be shown to any visitor - that's the idea of this page - share data about restaurants with others. Anyhow, all data collected and stored on this page will never be shared with any 3rd party other than a regular visitor on the http/html page.
  </div>

  <hr>

  <footer>
    <p>Created by oglimmer.de 2014-2021 # <span ng-include="'partials/jsp-includes/version.jsp'"></span> # <a href="https://oglimmer.de/lunchylunch/">Project page</a> | <a href="#/dataprivacy">Data privacy</a></p>
  </footer>
</div>
<!-- /container -->
