<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Lunchy</a>
		</div>
		<div class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'">
			<ul class="nav navbar-nav" ng-click="navCollapsed=true">
				<li ng-class="getClass('/updates')"><a href="#/updates">Latest updates</a></li>
				<li ng-class="getClass('/browse')"><a href="#/browse">Browse</a></li>
				<li ng-class="getClass('/list')"><a href="#/list">List</a></li>
                <li ng-show="Authetication.loggedIn" ng-class="getClass('/add')"><a href="#/add">Add</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="Authetication.loggedIn"><a href="" ng-click="login()">Login/Register</a></li>
                <li ng-show="Authetication.loggedIn" ng-class="getClass('/settings')"><a href="#/settings">Settings</a></li>
                <li ng-show="Authetication.loggedIn"><a href="" ng-click="logout()">Log out</a></li>
            </ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>
