
<div class="modal-header">
	<h3 class="modal-title">Help</h3>
</div>
<div class="modal-body">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
    <form novalidate name="helpForm" id="helpForm" class="form-horizontal">
        <fieldset>
            <legend>To reset your password enter your email and press Reset. We will send you a link where you can reset your password.</legend>
            <div class="row form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="email" ng-model="data.email" placeholder="Email" focus="true" required>
                </div>
            </div>
        </fieldset>
    </form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submitHelp()" ng-disabled="helpForm.$invalid">Reset</button>
	<button class="btn btn-default" ng-click="cancelHelp()">Cancel</button>
</div>
