<br />
<br /><br /><br />
<div class="container">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
    <form novalidate name="resetPasswordForm" class="form-horizontal">
        <fieldset>
            <legend>Reset your password</legend>

            <div class="row form-group">
                <label for="password" class="col-lg-2 control-label">New password</label>
                <div class="col-lg-10">
                    <input type="password" id="password" class="form-control" ng-model="data.password" required>
                    <span class="help-block">Password complexity: <password-strength ng-model="data.password" /></span>
                </div>
            </div>
            <div class="row form-group">
                <label for="newpasswordverification" class="col-lg-2 control-label">Password verification</label>
                <div class="col-lg-10">
                    <input type="password" id="newpasswordverification" class="form-control" ng-model="data.newpasswordverification" ui-validate=" '$value==data.password' " ui-validate-watch=" 'data.password' " required>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-primary" ng-click="savePassword()" ng-disabled="resetPasswordForm.$invalid">Set password</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
