<div class="container">

	<div class="row">
		<div class="col-centered col-xs-3">
		    <span class="btn btn-default" ng-click="back()"> &lt; Back </span>
		    <span>Page {{ (startPos / numberOfRecords)+1 }}</span>
		    <span class="btn btn-default" ng-click="next()"> Next &gt; </span>
	    </div>
    </div>

	<div ng-repeat="rows in data | partition:2" class="row">
		<div ng-repeat="pic in rows" class="col-md-6">
			<div id='polaroid'>
				<figure ng-class="{odd: $odd }">
					<a ng-href="#/view/{{ pic.id }}?pic={{ pic.pictureId }}">
		                <img ng-src="rest/pictures/{{ pic.filename }}?size={{ windowWidth }}" />
		                <figcaption ng-show="pic.caption">
		                    ({{pic.upVotes}}) {{ pic.caption }}
		                    <span ng-show="pic.voteCreatedOn" style="font-family: Arial">
		                        <span tooltip-placement="bottom" tooltip="Voted on {{ pic.voteCreatedOn | date }}">
		                            <span class="glyphicon glyphicon-star"></span>
		                        </span>
		                    </span>
		                </figcaption>
		                <figcaption ng-hide="pic.caption">
                    		({{pic.upVotes}}) {{ pic.officialName }} in {{ pic.city }}
                    		<span ng-show="pic.voteCreatedOn" style="font-family: Arial">
                        		<span tooltip-placement="bottom" tooltip="Voted on {{ pic.voteCreatedOn | date }}">
                            		<span class="glyphicon glyphicon-star"></span>
                        		</span>
                    		</span>
                		</figcaption>                
		            </a>
				</figure>
			</div>
		</div>
	</div>

</div>
