
<div class="modal-header">
	<h3 class="modal-title">Happy to welcome a new member!</h3>
</div>
<div class="modal-body">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

	<div class="row">
		<div class="col-lg-12">
			<form novalidate name="registerForm" id="registerForm">
				<fieldset>
					<div class="form-group">
						<label for="newUser.email" class="col-lg-4 control-label">Email</label>
						<div class="col-lg-6">
							<input class="form-control" type="email" placeholder="email" name="email" ng-model="newUser.email" ng-model-options="{ debounce: 1000 }" required unique="email" focus="true" />
						</div>
						<div class="col-lg-2">
							<span ng-show="!registerForm.email.$error.required && !registerForm.email.$error.email && !registerForm.email.$error.unique">✔</span>
						</div>
					</div>
					<div class="form-group">
						<label for="newUser.displayname" class="col-lg-4 control-label">Screen name</label>
						<div class="col-lg-6">
							<input class="form-control" type="text" placeholder="screen name" name="displayname" ng-model="newUser.displayname" required />
						</div>
						<div class="col-lg-2">
							<span ng-show="!registerForm.displayname.$error.required">✔</span>
						</div>
					</div>
					<div class="form-group">
						<label for="data.fkoffice" class="col-lg-4 control-label">Your office</label>
						<div class="col-lg-6">
							<select name="fkbaseoffice" class="form-control" ng-model="newUser.fkbaseoffice" required>
								<option ng-repeat="office in offices" value="{{office.id}}">{{office.name}}</option>
							</select>														
						</div>
						<div class="col-lg-2">
							<span ng-show="!registerForm.fkbaseoffice.$error.required">✔</span>
						</div>
					</div>
					<div class="form-group">
						<label for="newUser.password" class="col-lg-4 control-label">Password</label>
						<div class="col-lg-6">
							<input class="form-control" type="password" placeholder="password" name="password" ng-model="newUser.password" required />
						</div>
						<div class="col-lg-2">
							<span ng-show="!registerForm.password.$error.required">✔</span>
						</div>
					</div>
					<div class="form-group">
						<label for="newUser.confirm_password" class="col-lg-4 control-label">Password verification</label>
						<div class="col-lg-6">
							<input class="form-control" type="password" placeholder="password" name="confirm_password" ng-model="newUser.confirm_password" ui-validate=" '$value==newUser.password' " ui-validate-watch=" 'newUser.password' " />
						</div>
						<div class="col-lg-2">
							<span ng-show="!registerForm.confirm_password.$error.validator && !registerForm.password.$error.required">✔</span>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submitRegister()" ng-disabled="registerForm.$invalid">Register</button>
	<button class="btn btn-default" ng-click="cancelRegister()">Cancel</button>
</div>
