<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h2>Welcome to Lunchy!</h2>
		<p>Lunchy not only makes lunch easier it also makes your life better! How does it do that? It collects and provides essential information about lunch places.</p>
		<p>Join and contribute now!</p>
	</div>
</div>

<div class="container">
    <div id='polaroid'>
        <figure ng-repeat="pic in latestPictures">
            <a ng-href="#/view/{{ pic.id }}">
                <img ng-src="rest/pictures/{{ pic.filename }}?size={{ windowWidth }}" />
                <figcaption ng-show="pic.caption">{{ pic.caption }}</figcaption>
                <figcaption ng-hide="pic.caption">{{ pic.officialName }} in {{ pic.city }}</figcaption>
            </a>
        </figure>
    </div>
	<div ng-repeat="rows in latestUpdates | partition:2" class="row">
		<div ng-repeat="update in rows" class="col-sm-6">
			<h3><span class="glyphicon {{update.icon}}"></span> {{update.text}}</h3>		
			<p>
				<a ng-show="{{update.ref != null}}" class="btn btn-default btn-xs" href="#/{{update.ref}}" role="button">View details &raquo;</a>
			</p>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; oglimmer.de 2014 - <span ng-include="'partials/jsp-includes/version.jsp'"></span></p>
	</footer>
</div>
<!-- /container -->
