
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Lunchy!</h1>
		<p>Lunchy not only makes lunch easier it also makes your life better! How does it do that? It collects and provides essential information about lunch places.</p>
		<p><a href="#/add">Join and contribute now!</a></p>
	</div>
</div>

<div class="container">
	<div ng-repeat="rows in latestUpdates | partition:2" class="row">
		<div ng-repeat="update in rows" class="col-md-6">
			<h3><span class="glyphicon {{update.icon}}"></span> {{update.text}}</h3>		
			<p>
				<a ng-show="{{update.ref != ''}}" class="btn btn-default btn-xs" href="#/{{update.ref}}" role="button">View details &raquo;</a>
			</p>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; oglimmer.de 2014 - <span ng-include="'partials/version.jsp'"></span></p>
	</footer>
</div>
<!-- /container -->
