
<div class="container">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

	<div class="form-group">

        <tabset justified="true" ng-show="showTabMode">
            <tab heading="Base data" active="tabs.active[0]" disabled="tabs.disabled[0]">
                <div ng-include="'partials/view-location/base-data.html'"></div>
            </tab>
            <tab heading="Reviews" active="tabs.active[1]" disabled="tabs.disabled[1]">
                <div ng-include="'partials/view-location/review-pane.html'"></div>
            </tab>
            <tab heading="Pictures" active="tabs.active[2]" disabled="tabs.disabled[2]">
                <carousel>
                    <slide ng-repeat="pic in childScopeHolder.pictures" active="pic.active">
                        <img ng-src="./rest/pictures/{{pic.filename}}" style="margin:auto;"/>
                        <div class="carousel-caption">
                            <p class="removeOnExtraSmall">{{pic.caption}} by {{pic.creationUser}}</p>
                        </div>
                    </slide>
                </carousel>
                <div ng-show="addPictureMode" ng-include="'partials/view-location/add-picture.html'"></div>
            </tab>
            <tab heading="Map" ng-click="mapSelected()" active="tabs.active[3]" disabled="tabs.disabled[3]">
                <div ng-if="mapTabShown">
                    <google-map id="locationMap" center="map.center" zoom="map.zoom" draggable="false" events='map.events'>
                        <marker idKey='marker.id' coords='marker.coords' options="marker.markerOptions" />
                    </google-map>
                </div>
            </tab>
        </tabset>

	</div>		  

	<div ng-show="editLocationMode" ng-include="'partials/view-location/edit-location.html'"></div>

	<div ng-show="modifyReviewMode" ng-include="'partials/view-location/edit-review.html'"></div>
					
	<div class="form-group top17" ng-show="showButtonsMode">

        <button ng-show="allowedToEditPermission" type="button" class="btn btn-primary" ng-click="editLocationStart()">Edit</button>

        <button type="button" class="btn btn-default" ng-click="modifyReviewStart()">{{reviewButton}}</button>

        <button type="button" class="btn btn-default" ng-click="addPictureStart()">Add Picture</button>

	</div>
</div>
