<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org"  ng-app="LunchyApp">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<!-- <link rel="stylesheet" type="text/css" href="webjars/angular-ui/0.4.0/angular-ui.css" />  -->  <!-- needed? -->
		<link href="css/bootstrap.css" rel="stylesheet"> <!-- modal-dialog -->
		<link href="css/bootstrap-theme.css" rel="stylesheet"> <!-- modal-dialog -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- popover -->
		<script src="webjars/angularjs/1.3.0-beta.15/angular.js"></script> <!-- base -->
		<script src="webjars/angularjs/1.3.0-beta.15/angular-resource.js"></script> <!-- $resource -->
		<script src="webjars/angular-ui-utils/0.1.1/ui-utils.js"></script> <!-- validate -->
		<!-- <script src="webjars/angular-ui/0.4.0/angular-ui.js"></script>  --> <!-- needed? -->
		<script src="webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.js"></script> <!-- modal-dialog -->
		<script src="webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script> <!-- modal-dialog -->
		<script src="js/cookie.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body ng-controller="LunchyControllerMain">

	
	    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Lunchy</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#">Latest updates</a></li>
	            <li><a href="#">Browse</a></li>
	            <li><a href="#">Add</a></li>
	            
	            <li ng-show="userLoggedIn"><a href="" ng-click="">Settings</a></li>
	            <li ng-show="userLoggedIn"><a href="" ng-click="logout()">Log out</a></li>	            
	          </ul>
	         <span ng-hide="userLoggedIn">
	          <form class="navbar-form navbar-right" role="form" ng-submit="submitLogin()" ng-controller="LunchyControllerLogin">
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control" ng-model="email">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control" ng-model="password">
	            </div>
	            <button type="submit" class="btn btn-success" id="LoginError" popover-trigger="show" popover-placement="bottom" popover="{{errorMsg}}">Sign in</button>
	            <button type="button" class="btn btn-default" ng-click="showRegister()">Register</button>
	          </form>
	         </span>
	        </div><!--/.navbar-collapse -->
	      </div>
	    </div>
	
	    <!-- Main jumbotron for a primary marketing message or call to action -->
	    <div class="jumbotron">
	      <div class="container">
	        <h1>Welcome to Lunchy!</h1>
	        <p>Lunchy makes lunch easier! How does it do that? It collects and provides essential information about lunch places.</p>
	        <p>Join and contribute now!</p>	        
	      </div>
	    </div>

	    <div class="container">
	      <div ng-repeat="update in latestUpdates" class="row">
	        <div class="col-md-4">
	          <h2>{{update.text}}</h2>
	          <p>???</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>	        
	      </div>
	
	      <hr>
	
	      <footer>
	        <p>&copy; oglimmer.de 2014</p>
	      </footer>
	    </div> <!-- /container -->


	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Happy to welcome a new member!</h3>
        </div>
        <div class="modal-body">

			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

            <form novalidate name="registerForm" id="registerForm">	             	
	             	<div>
	             		<label for="email">Email:</label>
						<input type="email" placeholder="email" name="email" ng-model="newUser.email" ng-model-options="{ debounce: 1000 }" required unique="email" focus="true" />
						<span ng-show="!registerForm.email.$error.required && !registerForm.email.$error.email && !registerForm.email.$error.unique">✔</span>
					</div>
					
	             	<div>
						<label for="nickname">Nickname:</label>
						<input type="text" placeholder="nickname" name="nickname" ng-model="newUser.nickname" required/> 
						<span ng-show="!registerForm.nickname.$error.required">✔</span> 
					</div>
					
	             	<div>
						<label for="password">Password:</label>
						<input type="password" placeholder="password" name="password" ng-model="newUser.password" required/> 
						<span ng-show="!registerForm.password.$error.required">✔</span>
					</div>
					
	             	<div>
						<label for="password2">Password verification:</label>
						<input type="password" placeholder="password" name="confirm_password" ng-model="newUser.confirm_password" ui-validate=" '$value==newUser.password' " ui-validate-watch=" 'newUser.password' "/> 
						<span ng-show="!registerForm.confirm_password.$error.validator && !registerForm.password.$error.required">✔</span>
					</div>					             
					
				</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submitRegister()" ng-disabled="registerForm.$invalid">Register</button>
            <button class="btn btn-default" ng-click="cancelRegister()">Cancel</button>
        </div>
    </script>

		
	</body>
</html>
